---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v1/gtfs/routes?api_key=aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Apiaxleproxy-Qps-Left:
      - '9'
      X-Apiaxleproxy-Qpd-Left:
      - '4999'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":[{"route_id":"0051ML4187","agency_id":"AT","route_short_name":"005","route_long_name":"Pt
        Chevalier To Britomart Via Herne Bay And College Hill","route_desc":null,"route_type":3,"route_url":null,"route_color":"00F0FF","route_text_color":"000000"},{"route_id":"0052ML4311","agency_id":"AT","route_short_name":"005","route_long_name":"Britomart
        To Pt Chevalier Via College Hill & Herne Bay","route_desc":null,"route_type":3,"route_url":null,"route_color":"00F0FF","route_text_color":"000000"},{"route_id":"0070ML5775","agency_id":"AT","route_short_name":"007","route_long_name":"Pt
        Chevalier To St Heliers","route_desc":null,"route_type":3,"route_url":null,"route_color":"00F0FF","route_text_color":"000000"},{"route_id":"0[...]
